*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
**/build/
.kotlin

**/__pycache__/
*.pyc

*.jks
*.keystore
.secrets/
.bundle/
vendor/bundle/
fastlane/report.xml
fastlane/README.md
gha-creds-*.json
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars
!*.tfvars.example
